@import '../../raizera.css';

header {
    background-color: black;
    color: white;
    padding: 2.2em;
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha Verticalmente */
    justify-content: center; /* Alinha Horizontalmente */
    border-bottom: 3.5px solid var(--cor-primaria);
    transition: 0.2s;
}

header:hover {
    color: var(--cor-primaria);
}

header::selection {
    color: black;
    background-color: var(--cor-primaria);
}