header {
    background-color: black;
    color: white;
    padding: 2.2em;
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha Verticalmente */
    justify-content: center; /* Alinha Horizontalmente */
    border-bottom: 3.5px solid #90BA12;
    transition: 0.2s;
}

header:hover {
    color: #90BA12;
}

header::selection {
    color: black;
    background-color: #90BA12;
}