@import '../../raizera.css';

footer {
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha Verticalmente */
    justify-content: center; /* Alinha Horizontalmente */
    border-top: 3.5px solid var(--cor-primaria);
}

footer::selection {
    color: black;
    background-color: var(--cor-primaria);
}